*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root{
    --tool-bg-header: #3161e0;
    --tool-black: #23272a;
    --tool-bg-grey: #f6f6f6;
    --tool-blue-button: #8ea1e1;
    --tool-blue-writing: #7288d9;
}

/* #region debug */

.debug *{
    border: 1px dashed black; 
}

.debug header{
    background-color: lightblue;
}

.debug .logo .login .link{
    background-color:rgb(52, 192, 52); 
}

.debug .rectangle{
    height: 500px;
}

.debug .main{
    background-color: pink;
}

.debug .bigger{
    background-color: lightskyblue;
}

.debug .smaller{
    background-color: gray;
}

.debug .last{
    background-color: green;
    height: 700px;
}

.debug footer{
    background-color: black;
}

.debug .main-column, .secondary-column{
    height: 500px;
}

.debug .main-column{
    background-color: pink;
}

.debug .secondary-column{
    background-color: rgb(57, 100, 57);
}

.debug .container-buttons-footer{
    background-color: aquamarine;
}

.debug .logo-footer .button{
    background-color: rgb(229, 217, 219);
}

/* #endregion debug */

/* #region container-flex */

.container-flex{
    display: flex;
    justify-content: center; 
}

.container-column{
    padding-top: 10px;
    padding-bottom: 20px;
}

.container-buttons-footer{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* #endregion container-flex */

/* #region header-classes */

header{
    background-color: var(--tool-bg-header);
}

.nav{
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
}

.link-nav{
    text-decoration: none;
    color: white;
}

.logo, .login{
    width: 15%;
}

.logo{
    justify-content: flex-start;
}

.img-logo{
    width: 126px;
    height: 35px;
}

.link{
    width: 30%;
    text-align: center;
    justify-content: space-around;
}

.login{
    justify-content: flex-end;
}

#accedi{
    background-color: white;
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 80px; 
    border-radius: 20px;
}

/* #endregion header-classes */

/* #region main-classes */ 

.main{
    width: 100%;
    margin-top: 25%;
}

.img-bg{
    background-image: url(../img/jumbo.png);
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;

}

.main-title, .intro{
    text-align: center;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}

.main-title{
    font-size: 70px;
}

.intro{
    font-size: 25px;
}

.dl-buttons{
    justify-content: center;
    padding-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.mac, #browser{
    padding: 10px 20px;
    margin: 20px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}

.mac{
    background-color: white;
}

#browser{
    background-color: var(--tool-black);
    color: white;
}

.small-title{
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 45px;
}

.caption{
    font-size: 20px;
}

.white-bg, .grey-bg{
    margin-top: 20px;
    margin-bottom: 20px;
}

#grey-bg-img{
    margin-left: 25%;
}
.grey-bg{
    background-color: lightgray;
}

.end{
    text-align: center;
}

#last-img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.stars{
    background-image: url(../img/stars.svg);
    height: 50px;
    vertical-align: bottom;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

#ready{
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
}

.last-dl{
    text-align: center;
    color: white;
    width: 170px;
    background-color: var(--tool-blue-button);
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    
}

.bigger{
    width: 40%;
}

.smaller{
    width: 20%;
}

.rectangle{
    margin-top: 30px;
    margin-bottom: 30px;  
}

.last{
    width: 60%;
}

/* #endregion main-classes */

/* #region footer-classes */

footer{
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--tool-black);
} 

.main-column{
    width: 20%;
}

.title-footer{
    color: var(--tool-blue-writing);
    padding-bottom: 10px;
}

#flag{
    width: 20px;
}

#lang, #arrow{
    color: white;
}

.social{
    padding-top: 10px;
}

#twitter, #insta, #facebook, #youtube{
    padding-right: 15px;
}

.secondary-column{
    width: 10%;
}

h4{
    color: var(--tool-blue-writing);
}

ul {
    list-style: none;
}

li{
    line-height: 2;
    color: white;
}

.division{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--tool-blue-writing);
    margin-right: 20%;
    margin-left: 20%;
}

.button{
    background-color: var(--tool-blue-button);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
/* #endregion footer-classes */